.navbar-dark {
  background: #4c6a82;
  padding: 0.4rem 2rem; }
  .navbar-dark .navbar-brand {
    color: #cbf9f9;
    font-size: 32px; }
    .navbar-dark .navbar-brand:hover {
      color: #cbf9f9; }
  .navbar-dark .navbar-toggler {
    border: 1px solid #cbf9f9; }
  .navbar-dark .navbar-nav .nav-link {
    color: #cbf9f9 !important;
    font-size: 22px; }

header {
  padding: 0 2rem;
  margin-top: 5rem; }

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

header .text-area {
  padding: 5rem 0 4rem;
  color: #cbf9f9; }

main {
  padding: 4rem 2rem; }

main .text-area {
  color: #696d6e;
  padding-right: 3rem; }

.form-container {
  padding: 8rem 0 5rem 0; }
  .form-container .form-control {
    display: block;
    width: 100%;
    padding: .6rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #696d6e;
    background-color: #dbf3ff;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; }
  .form-container .login-btn {
    margin-top: 0.5rem;
    border-radius: 0;
    padding: 0.5rem 1.5rem;
    background: #cbf9f9;
    border: none;
    color: #4c6a82; }
    .form-container .login-btn:hover {
      background: #86f1f1; }

#profile-page header .text-area {
  padding: 1rem 0 0rem;
  color: #cbf9f9; }
#profile-page .form-container {
  padding: 0; }
  #profile-page .form-container .btn {
    border-radius: 0;
    padding: 0.5rem 2.5rem;
    background: #417dc5; }
    #profile-page .form-container .btn:hover {
      background: #2b588e; }

#login-page {
  background: #e6f7ff; }
  #login-page header {
    margin-top: 13rem;
    -webkit-box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.32); }

.has-error {
  border: 1px solid red !important; }

/*# sourceMappingURL=app.css.map */
