// variables
$primary-color: #4c6a82;
$font-color: #cbf9f9;
$grey-color: #696d6e;
// styles.scss
.navbar-dark {
    background: $primary-color;
    padding: 0.4rem 2rem;

    .navbar-brand {
        color: $font-color;
        font-size: 32px;

        &:hover {
            color: $font-color;
        }
    }

    .navbar-toggler {
        border: 1px solid $font-color;
    }

    .navbar-nav {
        .nav-link {
            color: $font-color !important;
            font-size: 22px;
        }
    }
}


header {
    padding: 0 2rem;
    margin-top: 5rem
}

.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .text-area {
    padding: 5rem 0 4rem;
    color: $font-color;
}



main {
    padding: 4rem 2rem;
}

main .text-area {
    color: $grey-color;
    padding-right: 3rem;
}

.form-container {
	padding: 8rem 0 5rem 0;

    .form-control {
        display: block;
        width: 100%;
        padding: .6rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: $grey-color;
        background-color: #dbf3ff;
        background-clip: padding-box;
        border: none;
        border-radius: 0;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .login-btn {
        margin-top: 0.5rem;
        border-radius: 0;
        padding: 0.5rem 1.5rem;
        background: $font-color;
        border: none;
        color: $primary-color;

        &:hover {
            background: darken($font-color, 15%);
        }
    }
}

#profile-page{
	header{
		 .text-area {
		    padding: 1rem 0 0rem;
		    color: #cbf9f9;
		}
	}

	.form-container {
	    padding: 0;

	    .btn{
	    	border-radius: 0;
	    	padding: 0.5rem 2.5rem;
	    	background: #417dc5;

	    	&:hover{
			    background: darken(#417dc5, 15%);		
	    	}
	    }
	}
}

#login-page{
	background: #e6f7ff;

	header{
		margin-top: 13rem;
		-webkit-box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.32);
		-moz-box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.32);
		box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.32);
	}
}

.has-error {
    border: 1px solid red !important;
}